
subscription_id      = "00000000-0000-0000-0000-000000000000" 
location              = "eastus2"
resource_group_name   = "rg-projeto1-webapp"
project_name          = "Byte Academy"

storage_account_name  = "stprojeto1" 
mysql_name            = "mysql-projeto1"
db_admin_user         = "dbadmin"
db_admin_password     = "Senha!123" 

ssh_public_key        = "ssh-rsa AAAAB3NzaC1yc2E... email@ex.com"
